.about-us-container {
   
    /* width: fit-content; */
    /* margin: 0 auto; */
    /* padding: 20px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
  
    text-align: justify;

    justify-content: center;
    max-width: 850px;
    width: 100%;
   
    /* max-height: 500px; */
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .about-us-description{
     font-size: 30px;
     text-align: center;
     margin-bottom: 2%;
     color:white;
  }
  /* .about-us-heading {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  } */
  .about-us-description > p{
     color: white;
     font-size: 15px;
     
  }

  
  .about-us-content {
    font-size: 20px;
    color: white;
   
  }
  .plant_logo_right{
    text-align: right;
  }

  .plant_logo_left{
    text-align: left;
  }


@media screen and (max-width: 768px) {
    .about-us-container{
      width: 100%;
      
    }
    .about-us-conten{
      font-size: 1px;
    }
/* .about-us-container > p{
     margin-bottom: 10px;
     font-size: 15px;
  } */
    .about-us-description{
     font-size: 25px;
  }
  .about-us-content{
    font-size: 18px;
  }
}